@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

body {
    background-image: url(https://media.discordapp.net/attachments/1063748127254908988/1121067742339027055/photo_2023-04-22_17-07-38.jpg?width=1151&height=647);
    background-size: cover;
}

.preloader {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: auto;
    height: auto;
    background: url(https://media.discordapp.net/attachments/1063748127254908988/1071423425249284136/photo_2023-01-29_17-16-25.jpg);
    z-index: 3;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
}

.preloader-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
}

.preloader-content_button {
    user-select: none;
    font-size: 25px;
    transition: .3s;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    transition: .2s;
    text-shadow: 0 0 20px #ffffff;
}

.preloader-content_button.ready {cursor: pointer;}

.preloader-content_button.clicked {
    pointer-events: none;
    display: none;
}

.main_container_video {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    z-index: -2;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

.main_container_video iframe{
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
    user-select: none;
}

.main_container_video:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

/* .portfolioButton {
    align-items: bottom;
} */

.portfolioPanel {
    display: none;
    color: gray;
    height: auto;
    width: auto;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    z-index: 2;
    color: #cb84ff;
	background-color: rgba(0, 0, 0, 0.8);
	padding: 0 0 10px 15px;
    /* padding-left: 10px;
    padding-right: 10px; */
    border-radius: 50px;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-style: normal;
    font-weight: 400;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    z-index: 2;
    color: #cb84ff;
	/**/
    /* padding-left: -20px; */
	/* display: inline; */
	background-color: rgba(0, 0, 0, 0.8);
	/* box-shadow: -10px 0 0 rgba(0, 0, 0, 0.5), 10px 0 0 rgba(0, 0, 0, 0.5); */
	padding: 0 0 10px 25px;
    border-radius: 50px;
	/* color: #FFFFFF; */
	/* line-height: 14px; */
    /**/
    font-family: 'Comfortaa', cursive;
    font-style: normal;
    font-weight: 400;
}
.content-logo img {
    opacity: .8;
    width: auto;
}

.content-text {
    margin: 25px 0;
    font-size: 70px;
    user-select: none;
    letter-spacing: 10px;
    text-shadow: 0 0 30px #cb84ff;
    text-align: center;
}

.content-links {
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0 40px 10px 0;
}

button {
    --green: #cb84ff;
    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    margin-left: 20px;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: black;/*linear-gradient(to right, #cb84ff 1%, transparent 20%,transparent 80% , #cb84ff 100%);*/
    color: var(--green);
    box-shadow: inset 0 0 10px #cb84ff, 0 0 9px 3px #cb84ff;
}
   
button:hover {
    color: #721bfd;
    box-shadow: inset 0 0 10px #721bfd, 0 0 9px 3px #721bfd;
    border: 2px solid #721bfd
}
   
button:active {
    color: #cb84ff;
    border: 2px solid #cb84ff;
    box-shadow: inset 0 0 10px #cb84ff, 0 0 9px 3px #cb84ff;
}

button:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    /* background: linear-gradient(to right, transparent 1%, #cb84ff 40%,#cb84ff 60% , transparent 100%); */
}

button:hover:before {
    transform: translateX(15em);
}



@media (min-aspect-ratio: 16/9) {
    .main_container_video iframe {
        height: 56.25vw;
    }
}

@media (max-aspect-ratio: 16/9) {
    .main_container_video iframe {
        width: 177.78vh;
    }
}

@media (max-width: 1250px) {
    .content-text {letter-spacing: 16px;}
    .main_container_video iframe {object-fit: auto;}
    .content-links {display: block;}
    .content-links a {
        display: block; 
        margin: 0 0 5px 0;
    }
    .content-links a:last-child {margin: 0;}
}

@media (max-width: 1100px) {
    .content-text {
        font-size: 26px;
        letter-spacing: 8.5px;
    }
    .content-logo img {
        opacity: .8; 
        width: 120px;
    }
    .preloader img {
        opacity: .8;
        width: auto
    };
}

@media (max-width: 991px) {
    .content-text {
        font-size: 26px;
        letter-spacing: 8.5px;
    }
    .content-logo img {
        opacity: .8; 
        width: 120px;
    }
    .preloader img {
        opacity: .8;
        width: auto
    };
}

@media (max-width: 768px) {
    .content-text {
        font-size: 30px;
        letter-spacing: 8px;
    }
    .content-logo img {
        opacity: .8; 
        width: 120px;
    }
    .preloader img {
        opacity: .8;
        width: auto
    };
}

@media (max-width: 530px) {
    .content-text {
        font-size: 30px;
        letter-spacing: 2px;
    }
    .content-logo img {
        opacity: .8; 
        width: 120px;
    }
    .preloader img {
        opacity: .8;
        width: auto
    };
}

@media (max-width: 450px) {
    .content-text {
        font-size: 24px;
        letter-spacing: 2px;
    }
    .content-logo img {
        opacity: .8; 
        width: 120px;
    }
    .preloader img {
        opacity: .8;
        width: auto
    };
}

@media (max-width: 320px) {
    .content-text {
        font-size: 20px;
        letter-spacing: 4px;
    }
    .content-logo img {
        opacity: .8; 
        width: 120px;
    }
    .preloader img {
        opacity: .8;
        width: auto
    };
}
