body {
    background: rgb(33, 37, 41);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

button {
    min-width: 150px;
    font-size: 18px;
    margin: 5px;
    padding: 10px;
    text-align: center;
    border: 2px solid rgb(0, 0, 255);
    border-radius: 10px;
    background: rgb(33, 37, 41);
    color: rgb(0, 0, 255);
    letter-spacing: 2px;
    transition: all .2s linear 0s;
}
  
button:hover {
    color: #fff;
    text-decoration: none;
    background: rgb(0, 0, 255);
    cursor: pointer;
}

.title {
    font-size: 60px;
    color:#fff;
}

.content-links {
    display: flex;
    justify-content: center;
}

.description {
    color: grey;
    padding: 10px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

img {
    border-radius: 25px;
    width: 700px;
    margin-top: 30px;
}
